astroid
asttokens
attrs
azure-ai-textanalytics
azure-common
azure-core
azure-identity
azure-keyvault-secrets
azure-storage-blob
backcall
beautifulsoup4
bleach
blinker
certifi
cffi
chardet
click
colorama
cryptography
cycler
debugpy
decorator
defusedxml
docopt
entrypoints
executing
fastjsonschema
feedparser
Flask
idna
importlib_metadata
ipykernel
ipython
isodate
isort
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyterlab_pygments
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
msal
msal-extensions
msrest
nbclient
nbconvert
nbformat
nest-asyncio
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pipreqs
portalocker
prompt-toolkit
pure-eval
pycparser
pydub
Pygments
PyJWT0
pylint
pyparsing
python-dateutil
pyzmq
referencing
requests
requests-oauthlib
rpds-py
sgmllib3k
six
soupsieve
stack-data
tinycss2
toml
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
Werkzeug
wrapt
yarg
zipp
